<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/show.css" />

    <title>Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-body">
        <div class="show-header">
        <h1><%= foods.name %></h1>
        <p>Food details <%= foods.instructions %></p>
    <div class="show-sidebar">
    <div class="show-actions">
    <a href="/users/<%= user._id %>/foods/<%= foods._id %>/edit">
        Edit this Pantry
    </a>
    <form
    action="/users/<%= user._id %>/foods/<%= foods._id %>?_method=DELETE"
    method="POST">
    <button type="submit">Delete this appointment</button>
    </form>
    </div>
    </div>
    </div>
</body>
</html>
